<h2>Your Order</h2>

<p>Subtotal: <%= number_to_currency(Order.find_by(id: params[:id]).subtotal) %></p>
<p>Tax: <%= number_to_currency(Order.find_by(id: params[:id]).tax) %></p>
<p>Total: <%= number_to_currency(Order.find_by(id: params[:id]).total) %></p>

<p>Email: <%= current_user.email %></p>
<p>Product Name: <%= Product.find_by(id: Order.find_by(id: params[:id]).product_id).title %></p>
<img src="<%= Product.find_by(id: Order.find_by(id: params[:id]).product_id).images[0].image_url %>" />
<p>Order Created At: <%= Order.find_by(id: params[:id]).friendly_created_at %></p>