<% @product.images.each do |image| %>
  <div class="col-sm-6">
    <img src=<%= image.image_url %> class="img-responsive" />
  </div>
<% end %>
<div class="col-sm-4 description">
  <h4><%= @product.sale_message %></h4>
  <h3>Color: <%= @product.color %></h3>
  <h3>Material: <%= @product.material %></h3>
  <h3>Made in <%= @product.where_made %></h3>
  <h3>Price: <%= number_to_currency(@product.price) %></h3>
  <h3>Tax: <%= number_to_currency(@product.tax) %></h3>
  <h3>Total including tax: <%= number_to_currency(@product.total) %></h3>
  <h3>Description: <%= @product.description %></h3>
  <h4>Supplier: <%= @product.supplier.name %></h4>
  <h3><%= @product.is_in_stock %></h3>  
  <br />
  <p><a href="http://localhost:3000/products">Back to homepage</a></p>
  <%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
  <br />
  <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>

<h2>Buy this product</h2>
<%= form_tag "/carted_products", method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>
  <div>
    <%= hidden_field_tag :product_id, "Product ID" %>
    <%= hidden_field_tag :product_id, @product.id %>
  </div>  
  <div>
    <%= submit_tag "Add to Cart" %>
  </div>
  <div>
    <h4>This Product's Categories:</h4>
    <ul>
      <% @product.categories.each do |category| %>
      <li><%= category.name %>s</li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>